
body{
    background-color: beige;
}

h1{
    color:blue;
}

h2{
    color:red;
}
h3{
    color:green;

}

h4{
    color:yellow;
}

h5{
    color:pink;
}
h6{
    color:black;
}

h4:hover{
    color:orange;
}