
body{
    background-color: beige;
}
h1{
    color:blue;

}
h2{
    color:orange;

}
h3{
    color:green;

}
h4{
    color:pink;

}
h5{
    color:red;

}
h6{
    color:black;

}

h4:hover{
    color:yellow;
}